<div ng-include="'views/partials/nav.html'"></div>
<div class="container">
    <div class="jumbotron">


        <h1 id="welcome" class="lead">Welcome, {{vm.userObject.userName}}!</h1>
        <button class="btn btn-default" ng-click="vm.userService.logout()">Log Out</button>
        <br>
        <br>
        <div class="col-xs-4">
            <h3>Add Shelf Item</h3>
            <button ng-click="vm.uploadImage()" class="btn btn-default btn-md"> Upload Image</button>
            <br>

            <form ng-submit="vm.addItem(vm.item)">
                <input type="text" placeholder="Description" ng-model="vm.item.description" class="form-control input-md">
                <br>
                <input type="submit" class="btn btn-default btn-md">
            </form>
        </div>
    </div>
    <div>










    </div>
    <div>
        <h3>Shelf Items</h3>
        <table class="table table-striped table-condensed">
            <thead>
                <tr>
                    <th><a ng-click="vm.orderByField='description'; vm.reverseSort = !reverseSort">
                            description
                                   <span ng-show="orderByField == 'description'">
                                       <span ng-show="!reverseSort">^</span>
                                       <span ng-show="reverseSort">v</span>
                                    </span>
                                </a>
                        Description</th>
                    <th>Added By</th>
                    <th>Image</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="shelf in vm.shelf.list">
                    <td>
                        {{shelf.description}}
                    </td>
                    <td>
                        <a class="badge" ng-click="vm.getUsersItems(shelf.username)">{{shelf.username}}</a>
                    </td>
                    <td>
                        <img ng-src="{{shelf.image}}" width="100" class="center-block" />

                    </td>
                    <td>
                        <button class="btn btn-default" ng-click="vm.deleteItem(shelf)">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>

        <h3>User List</h3>
        <ul ng-repeat="user in vm.users.list">
            <li ng-click="vm.getUsersItems(user.username)">
               <a class="badge">{{user.username}}</a>    
            </li>
        </ul>
    </div>